.pagination-list {
   display: flex;
   gap: 5px;
   margin-top: 30px;
}

.pagination-list-button {
   cursor: pointer;

   display: flex;
   align-items: center;
   justify-content: center;

   width: 100%;
   max-width: 40px;
   height: 40px;

   font-size: var(--font-14);
   font-weight: 400;
   line-height: 22px;
   color: rgb(0 0 0);

   background-color: var(--color-white);
   border: 1px solid var(--color-gray-light);
   border-radius: 4px;
}

.active {
   color: var(--color-white);
   background: rgb(0 0 0);
}

.disabled {
   display: none;
}
