.wrapper {
   font-size: var(--font-14);
   font-weight: 400;
   line-height: 22px;
   color: var(--color-gray-dark);
}

.hidden {
   display: none;
}

.heading {
   font-size: var(--font-20);
   font-weight: 400;
   line-height: 26px;
   color: var(--color-black);
}

.form,
.guest-user {
   display: flex;
   flex-direction: column;
   gap: 50px;
}

.input-element {
   max-width: 100% !important;
}

.rating p {
   margin-bottom: 15px;
}

.summary {
   padding: 20px;
   color: var(--color-black);
   background-color: var(--color-gray-very-light);
}

.summary p:nth-child(1) {
   padding-bottom: 16px;

   font-size: var(--font-26);
   font-weight: 400;
   line-height: 25px;

   border-bottom: 1px solid var(--color-gray-light);
}

.summary p:nth-child(2) {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;

   padding-top: 16px;

   font-size: var(--font-16);
   font-weight: 700;
   line-height: 21px;
}

.button {
   display: flex;
   align-items: center;
   justify-content: center;

   margin-top: 5px;
   padding: 16px 34px;

   font-size: var(--font-16);
   font-weight: 700;
   line-height: 21px;
   color: var(--color-white);

   background: var(--color-black);
   border-radius: 4px;
}

.button:disabled {
   color: var(--color-gray-light);
   background-color: var(--color-gray-dark);
   border: none;
}

@media (width <= 768px) {
   .form,
   .guest-user {
      display: flex;
      flex-direction: column;
      gap: 25px;
   }

   .summary p:nth-child(1) {
      font-size: var(--font-16);
   }
}

@media (width <= 500px) {
   .summary p:nth-child(1) {
      padding-bottom: 8px;
   }

   .summary p:nth-child(2) {
      padding-top: 8px;
   }
}
