:root {
   /* Font sizes */
   --font-12: 12px;
   --font-14: 14px;
   --font-16: 16px;
   --font-20: 20px;
   --font-26: 26px;
   --font-33: 33px;

   /* Colors */
   --color-error: #d82700;
   --color-gray-dark: #707070;
   --color-black: #000000;
   --color-gray-light: #d8d8d8;
   --color-brown: #a18a68;
   --color-gray-very-light: #efefef;
   --color-white: #ffffff;
   --color-white-60: rgba(255, 255, 255, 0.6);
}
