:root {
   /* Font sizes */
   --font-12: 12px;
   --font-14: 14px;
   --font-16: 16px;
   --font-20: 20px;
   --font-26: 26px;
   --font-33: 33px;

   /* Colors */
   --color-error: #d82700;
   --color-error-2: #a17768;
   --color-gray-dark: #707070;
   --color-black: #000;
   --color-gray-light: #d8d8d8;
   --color-brown: #a18a68;
   --color-gray-very-light: #efefef;
   --color-white: #fff;
   --color-white-60: rgb(255 255 255 / 60%);
}

*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

/* img {
   width: 100%;
} */

body {
   max-width: 1248px;
   margin: 0 auto !important;

   /* почему-то не применяется к гриду на главной странице */
   padding: 0 10px;

   font-family: 'DM Sans', sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
}

button {
   cursor: pointer;
}
