.h1 {
   margin-bottom: 40px;
   font-size: var(--font-33);
   font-weight: 500;
   line-height: 43px;
}

.body {
   display: flex;
   gap: 10px;
   margin-bottom: 40px;
}

.filter {
   display: flex;
   flex-direction: column;
   gap: 30px;

   box-sizing: border-box;
   max-width: 267px;
}

.search-filter {
   margin-top: 3px;
}
