.wrapper {
   padding: 10px 0;
   border-bottom: 1px solid var(--color-gray-light);
}

.wrapper a {
   color: var(--color-black);
   text-decoration: none;
}

.active {
   color: var(--color-brown);
   font-weight: bold;
   padding-bottom: 2px;
   border-bottom: 2px solid var(--color-brown);
}

.activeMobile {
   color: var(--color-brown);
   font-weight: 700;
}

.menu {
   display: flex;
   align-items: center;
   justify-content: space-between;
   max-height: 35px;
}

.nav,
.nav a {
   display: flex;
   gap: 30px;
   align-items: center;

   font-size: var(--font-16);
   font-weight: 400;
   line-height: 17px;
}

.divider {
   display: inline-block;
   width: 1px;
   height: 17px;
   background: black;
   margin: 0 20px;
}

.logo {
   grid-area: logo;
   width: 158px;
   height: 40px;
}

.cart {
   grid-area: cart;
}

.favorites-wrapper {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
}

.favorites {
   position: absolute;
   top: -3px;
   left: 12px;

   display: flex;
   align-items: center;
   justify-content: center;

   width: 12px;
   height: 12px;
   padding: 6px;

   font-family: Arial, Helvetica, sans-serif;
   font-size: 9px;
   font-weight: 600;
   line-height: 53.83%;
   color: var(--color-black);

   background: var(--color-white);

   /* padding: 3px 4px; */
   border: 1px solid var(--color-black);
   border-radius: 50%;
}

.empty-favorites {
   display: none;
}

.mobile-menu {
   display: none;
   min-width: 300px;
   color: var(--color-black);
   text-decoration: none;
}

.mobile-search {
   grid-area: search;
   width: 100%;
}

.mobile-navigation-wrapper {
   grid-area: mobile-navigation;
}

.mobile-navigation {
   display: flex;
   flex-direction: column;
   gap: 10px;

   font-size: var(--font-20);
   font-weight: 400;
   line-height: 26px;
}

.link-with-icon {
   display: flex;
   gap: 10px;
   align-items: center;
}

#mobile-menu-icon {
   grid-area: menu;
}

@media (width <= 900px) {
   .nav,
   .nav a {
      gap: 20px;
   }
}

@media (width <= 770px) {
   .nav,
   .nav a {
      gap: 10px;
   }
}

@media (width <= 700px) {
   .logo {
      width: 99px;
      height: 36px;
   }

   .menu {
      display: none;
   }

   .mobile-menu {
      display: grid;
      grid-template-areas:
         'logo cart menu'
         'search search search'
         'mobile-navigation mobile-navigation mobile-navigation';
      grid-template-columns: 1fr auto auto;
      gap: 10px 15px;
      align-items: center;
   }
}
